
  <h1>Doorkeeper </h1>
  <% if current_user.present? %>
    <%= link_to "Sign out", destroy_user_session_url, class: 'btn btn-primary' %>
    
  <% else %>
    <%= link_to "Sign in", new_user_session_url, class: 'btn btn-primary' %>
    <%= link_to "facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>
  <% end %>

<section id="about-app">
  <div class="row">
    <div class="span12">
      <%= readme_to_markdown %>
    </div>
  </div>
</section>
